<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>Insert title here</title>

<script type = "text/javascript">
	function checkPassword()
	{
		//password = form.password.value;
		//confpassword = form.confpassword.value;
		
		var password = document.getElementById("pswd1");
		var confpassword = document.getElementById("pswd2");
		var msg1 = document.getElementById("msg1");
		var msg2 = document.getElementById("msg2");
		var msg3 = document.getElementById("msg3");
		var btn = document.getElementById("submit");
		
		//if password left blank
		if (password.value == "")
		{
			msg1.innerHTML = "Please enter the password";
			btn.disabled = true;
			msg3.innerHTML = "Passwords should be same";
		}			
		else if (confpassword.value == "")
		{
			msg2.innerHTML = "Please enter the confirm password";
			btn.disabled = true;
			msg3.innerHTML = "Passwords should be same";
		}
		else if (password.value != confpassword.value)
		{
			msg3.innerHTML = "Passwords should be same";
			btn.disabled = true;
			//alert("Passwords should be same");
		}
		else
			{
				btn.disabled = false;
				msg3.innerHTML = "Password matches";
			}
			
	}
</script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to the portal</h1>
  <h3>Enter your new password</h3>
</div>
<center>
<form method="POST" action="/passwordUpdater" onSubmit = "return checkPassword(this)" enctype="multipart/form-data">
New Password: <input type="password" name="password" id="pswd1" onkeyup="checkPassword();" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br><span id="msg1" class="confirm-message1"></span><br><br>
Confirm Password: <input type="password" name="confpassword" id="pswd2" onkeyup="checkPassword();"> <br> <span id="msg2" class="confirm-message2"></span> <br><br>
<span id="msg3" class="confirm-message3"></span> <br><br>
<input type="submit" class="btn btn-primary active" name="submit" value = "Submit" id = "submit" disabled>
</form>
</center>
</body>
</html>