<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body>
<div class="jumbotron text-center">
  <h1>Welcome to the portal</h1>
<!-- 
  <h3 th:text="${courseId}"></h3>
  <h4 th:text="${courseName}"></h4>
 -->
  <p>Choose an action</p>
  <button class="btn btn-primary active" onclick="window.location.href='courseAdmin'">Home</button> 
</div>
<center>
<button class="btn btn-primary active" onclick="window.location.href='viewQuestions'">List All Questions</button>
<button class="btn btn-primary active" onclick="window.location.href='requestQuestionPage'">Create Question</button> 
<button class="btn btn-primary active" onclick="window.location.href='showAvailableQuestionsToDelete'">Delete Question</button> 
</center>
</body>
</html>